<h2>Currency Chart</h2>
<div id="currency_values">
  <%= render 'charts/data', compare: @compare %>
</div>

Base: <%= select_tag :currency, options_for_select(Currency::CURRENCIES, selected: params[:base]), class: 'form-control',
onchange: "window.location.replace('?base='+this.value);" %>

<br/>

<div class="symbols">
  Compare with:
  <%= link_to 'BRL', root_path(base: params[:base], compare: 'BRL'), remote: true, class: 'btn btn-primary' %>
  <%= link_to 'USD', root_path(base: params[:base], compare: 'USD'), remote: true, class: 'btn btn-primary' %>
  <%= link_to 'EUR', root_path(base: params[:base], compare: 'EUR'), remote: true, class: 'btn btn-primary' %>
  <%= link_to 'AUD', root_path(base: params[:base], compare: 'AUD'), remote: true, class: 'btn btn-primary' %>
</div>
